name: Python CI - SonarCloud

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python 3.11.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.11.9' 
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install pytest pytest-cov

      - name: Run Tests
        run: |
          pytest --cov=app --cov-report=xml --cov-report=term

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  # Job de Entrega Continua (CD)
  trigger-jenkins-cd:
    needs: build-and-test # Solo si el CI con SonarCloud fue exitoso
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Remote Jenkins Build
        run: |
          curl -f -v -L -X POST "https://uniaxially-corrosional-timmy.ngrok-free.dev/job/Sabana/job/sabana-devops-backend/job/main/build" \
          --user "admin:${{ secrets.TRIGGER_U3 }}"